<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="code.google.com"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:label="@string/quiz_activity_label" android:icon="@drawable/ic_launcher">
        <activity
                android:label="@string/quiz_activity_label"
                android:name=".QuizActivity"
                android:screenOrientation="sensor"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/Theme.DeviceDefault.Black">
        </activity>
    </application>
</manifest>
